mixin alert-success()
  - if (messages.success)
    div(
      class="alert alert-success"
      show-alert
      data-time="5000"
    )
      | #{messages.success}
      button(class="btn btn-danger btn-sm" close-alert) x